<mat-card class="opened-card">
  <div *ngIf="card">
    <mat-card-title>
      <static-input [(text)]="card.title" [defaultText]="defaultTitle"></static-input></mat-card-title>
    <mat-card-subtitle *ngIf="card.tags.length">
      <span *ngFor="let tag of card.tags" class="card-tag">{{tag}}</span></mat-card-subtitle>
    <mat-card-content>
      <todo-list [isNewEdit]="isNewEdit" [cardId]="card.id"></todo-list></mat-card-content>
    <card-actions (remove)="removeCard()" [card]="card"></card-actions>
  </div>
</mat-card>