@import '../../colors.scss';

mat-card.opened-card {
    .done {
        font-weight: 500;
    } 

    mat-card-title.mat-card-title {
        height: 24px;
    }

    &.read-only {
        cursor: pointer;

        mat-card-title.mat-card-title {
            font-size: 16px;
        }
    }

    transition-property: background-color;
    transition-duration: 1s;
    
    &.yellow {
        background-color: $yellow-opt
    }
    
    &.red {
        background-color: $red-opt
    }
    
    &.gray {
        background-color: $gray-opt
    }
    
    &.green {
        background-color: $green-opt
    }
}