@import '../../colors.scss';

mat-card {
    &.read-only {
        cursor: pointer;

        mat-card-title.mat-card-title {
            font-size: 16px;
        }
    }
    
    &.yellow {
        background-color: $yellow-opt
    }
    
    &.red {
        background-color: $red-opt
    }
    
    &.gray {
        background-color: $gray-opt
    }
    
    &.green {
        background-color: $green-opt
    }
}