<div class="cards-layout">
  <div></div>
  <div class="cards">
    <div *ngFor="let card of cardsService.cards" >
      <mat-card class="example-card closed" (click)="openCard(card)" [ngClass]="{'hide': card.id === openedCardId}">
        <mat-card-title>{{card.title}}</mat-card-title>
        <mat-card-subtitle *ngIf="card.tags.length">
          <span *ngFor="let tag of card.tags" class="card-tag">{{tag}}</span></mat-card-subtitle>
        <mat-card-content>
        
          <todo-list-readonly [cardId]="card.id"></todo-list-readonly>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div></div>
</div>