$yellow-opt : rgba(255, 216, 65, 0.8);
$red-opt    : rgba(255, 71, 71, 0.3);
$gray-opt   : rgba(219, 188, 188, 0.5);
$green-opt  : rgba(112, 255, 121, 0.59);

$yellow     : rgb(255, 216, 65);
$red        : rgb(255, 71, 71);
$gray       : rgb(219, 188, 188);
$green      : rgb(112, 255, 121);