<mat-selection-list #shoes>
    <mat-list *ngFor="let todoItem of list.items" [ngClass]="{'checked': todoItem.done}" 
      (click)="editItem(todoItem)"> 
      <input type="checkbox" [checked]="todoItem.done" (click)="toggleCheck(todoItem)">
      <span *ngIf="currentEditItem !== todoItem">
        <span>{{todoItem.title}}</span>
        <span class="todo-item-description">{{todoItem.description}}</span>
      </span>

      <mat-form-field *ngIf="currentEditItem === todoItem">
        <input matInput [(ngModel)]="todoItem.title"  type="text" 
          (blur)="clearCurrentitemEdit()" (keydown)="onKeyDownEdit($event.key)" [autofocus]="true">
      </mat-form-field> 
    </mat-list>

    <!-- <mat-form-field>
        <input matInput [(ngModel)]="value"  type="text" placeholder="Новая задача" 
          (blur)="applyNewItem()" (keyup)="keyUp($event.key)">
    </mat-form-field> -->
    <div class="new-task" *ngIf="!currentEditItem" (click)="createNewItem()">+Новая задача</div>

    <div class="done">
      <span   *ngIf="list.doneItems.length" (click)="isShowDoneItems = !isShowDoneItems">
      <span class="done-title" [ngClass]="{'closed': !isShowDoneItems}">What was already done ({{list.doneItems.length}}):</span></span>
    
      <div *ngIf="isShowDoneItems" class="done-items">
        <mat-list *ngFor="let todoItem of list.doneItems" [ngClass]="{'checked': todoItem.done}"
          class="todo-item"> 
            <input type="checkbox" [checked]="todoItem.done" (click)="toggleCheck(todoItem)">
            <span>{{todoItem.title}}</span>
            <span>{{todoItem.description}}</span>
          </mat-list>
      </div>
    </div>
    
    
</mat-selection-list>