<mat-selection-list #shoes>
    <mat-list *ngFor="let todoItem of list.items" [ngClass]="{'checked': todoItem.done}" 
      (click)="editItem(todoItem)"> 
      <input type="checkbox" [checked]="todoItem.done" (click)="toggleCheck(todoItem)">
      <span *ngIf="currentEditItem !== todoItem">
        <span>{{todoItem.title}}</span>
        <span>{{todoItem.description}}</span>
      </span>

      <mat-form-field *ngIf="currentEditItem === todoItem">
        <input matInput [(ngModel)]="todoItem.title"  type="text" 
          (blur)="clearCurrentitemEdit()" (keyup)="keyUpEdit($event.key)" [autofocus]="true">
      </mat-form-field> 
    </mat-list>

    <!-- <mat-form-field>
        <input matInput [(ngModel)]="value"  type="text" placeholder="Новая задача" 
          (blur)="applyNewItem()" (keyup)="keyUp($event.key)">
    </mat-form-field>  -->
    <span (click)="createNewItem()">+Новая задача</span>

    <span  mat-subheader *ngIf="list.doneItems.length">What was already done ({{list.doneItems.length}}):</span>
    <mat-list *ngFor="let todoItem of list.doneItems" [ngClass]="{'checked': todoItem.done}" 
      (click)="openItem(todoItem, $event)"> 
      <input type="checkbox" [checked]="todoItem.done" (click)="toggleCheck(todoItem)">
      <span>{{todoItem.title}}</span>
      <span>{{todoItem.description}}</span>
    </mat-list>
</mat-selection-list>