mat-list.checked {
    font-style: italic;
    text-decoration: line-through;
    width: 100%;
}

.mat-input-element {
    width: 90%;
}

.new-task {
    margin-top: 5px;
}

.todo-item {
    position: relative;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 20px;

    .remove-item {
        font-weight: bold;
        margin: 10px;
        cursor: pointer;
        
        visibility: hidden;
        position: absolute;
        right: 1px;
        top: -5px;
    }
}

.input-wrap {
    border-bottom: 1px solid blue;
}

mat-card {
    .todo-item:hover {
        color: blue;
    
        static-input:hover {
            cursor: text;
        }
        
        .remove-item {
            visibility: visible;
        }        
    }
}




.todo-list-readonly {
    .todo-item {
        font-size: 15px;
    }

    .todo-item:hover {
        color: inherit;

        input[type="checkbox"]:hover {
            cursor: pointer;
        }
    }    
}


.done {
    .todo-item {
        font-size: 14px;
        font-weight: normal;
    }
    color: rgba(0,0,0,.54);
    margin-top: 10px;
    .done-title {
        cursor: pointer;
    }

    .done-title::before {
        content: "v";
        margin-right: 5px;
    }
    
    .done-title.closed::before {
        content: ">";
    }
}