mat-list.checked {
    font-style: italic;
    text-decoration: line-through;
}

.todo-item-description {
    margin-left: 3px;
    color: gainsboro;
}

.new-task {
    margin-top: 5px;
}

.done {
    color: rgba(0,0,0,.54);
    margin-top: 10px;
    .done-title {
        cursor: pointer;
    }

    .done-title::before {
        content: "v";
        margin-right: 5px;
    }
    
    .done-title.closed::before {
        content: ">";
    }
}

