/* You can add global styles to this file, and also import other style files */
@import './app/components/card/colors.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


//remove paddings from overlay dialog
mat-dialog-container.mat-dialog-container {
    padding: 0;
}

body {
    background-color: rgb(212, 205, 205);
}

.hide {
    visibility: hidden;
}

mat-card-actions.mat-card-actions {
    padding-bottom: 0;
    margin-bottom: 0;
}


.cdk-overlay-container {
    .opened-card {
        width: 30vw;
    }

    mat-card {
        .todo-item:hover {
            color: blue;

            .remove-item {
                visibility: visible;
            }     
        }

        static-input:hover {
            cursor: text;
        }
    }


    .mat-menu-panel {
        &.yellow {
            background-color: $yellow
        }
        
        &.red {
            background-color: $red
        }
        
        &.gray {
            background-color: $gray
        }
        
        &.green {
            background-color: $green
        }
    }
}


mat-card-title.mat-card-title {
    .static-input {
        .static-input-text {
            top: 0.33ex !important;   
        }
    }
}