/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


//remove paddings from overlay dialog
mat-dialog-container.mat-dialog-container {
    padding: 0;
}

body {
    background-color: rgb(212, 205, 205);
}



    mat-card-title {
        static-input {
            font-size: 30px;
        }
    }   
    
    .opened-card {
        .done {
            font-weight: 500;
        } 
    
        static-input {
            display: inline-block;
            font-size: 20px;
            font-weight: 500;
            height: 24px;
            width: 90%;
    
            input[type="text"] {
                font: inherit;
                background: transparent;
                color: currentColor;
                border: none;
                outline: none;
                padding: 0;
                margin: 0;
                width: 100%;
                max-width: 100%;
                box-sizing: content-box;
            }
    
            .static-input-text {
                margin-top: 2px;
            }
        }   
        
        .todo-item.undone {
            mat-list.mat-list {
                height: 24px;
            }
    
            static-input {
                margin-left: 22px;
            }
    
            input[type="checkbox"] {
                position: absolute;
                top: 8px;  
    
                margin-top: 0;
                margin-bottom: 0;
    
                height: 15px;
                width: 15px;
                vertical-align:middle;
            }

            input[type="checkbox"]:hover {
                border-bottom-color: blue;
                border-top-color: blue;
                border-left-color: blue;
                border-right-color: blue;
                color: blue;
            }
        }
    }
    
    mat-list.checked {
        font-style: italic;
        text-decoration: line-through;
        width: 100%;
    }
    
    .todo-item-description {
        margin-left: 3px;
        color: gainsboro;
    }
    
    .mat-input-element {
        width: 90%;
    }
    
    .new-task {
        margin-top: 5px;
    }
    
    .new-task:hover {
        cursor: pointer;
        color: blue;
    }
    
    .todo-item {
        position: relative;
        padding-top: 4px;
        padding-bottom: 4px;
    
        .remove-item {
            font-weight: bold;
            font-size: 15px;
            margin: 10px;
            cursor: pointer;
            
            visibility: hidden;
            position: absolute;
            right: 1px;
            top: -5px;
        }
    }
    
    .input-wrap {
        border-bottom: 1px solid blue;
    }

    
    .hide {
        visibility: hidden;
    }